<header class="wks-header">
    <h1 class="wks-title">About / Credits</h1>
</header>
<section class="wks-text">
    <p>
        This game was created by igorski.nl to show off the mobile web gaming capabilities
        of the open source <a href="https://github.com/igorski/zcanvas" class="wks-link" target="_blank">zCanvas library</a>.
        The game itself is completely <a href="https://github.com/igorski/weltkriegsimulator" class="wks-link" target="_blank">open source</a> as well.
    </p>
    <p>
        The music is by the respective artists (shown on playback start). Graphics for the game sprites as
        well as sound effects come from <i>opengameart.org</i> and feature entries by:
    </p>
    <ul class="wks-list">
        <li>
            <a href="http://opengameart.org/content/explosion" class="wks-link" target="_blank">Explosion by Cuzco</a>
        </li>
        <li>
            <a href="http://opengameart.org/content/space-ship-building-bits-volume-1" class="wks-link" target="_blank">Ship by Redshrike</a>
        </li>
        <li>
            <a href="https://opengameart.org/content/spaceships-1" class="wks-link" target="_blank">Spaceships by wuhu</a>
        </li>
        <li>
            <a href="https://opengameart.org/content/retro-shmup-boss-2" class="wks-link" target="_blank">Retro shmup boss 2 by Jerom</a>
        </li>
        <li>
            <a href="https://opengameart.org/content/explosion-0" class="wks-link" target="_blank">Explosion by TinyWorlds</a>
        </li>
        <li>
            <a href="https://opengameart.org/content/laser-fire" class="wks-link" target="_blank">Laser Fire by dklon</a>
        </li>
        <li>
            <a href="https://opengameart.org/content/some-hud-elements-icons-and-crosshairs" class="wks-link" target="_blank">Some Hud Elements, Icons and Crosshairs by sbed</a>
        </li>
        <li>
            <a href="http://www.dafont.com/astral-delight.font?fpp=100&text=WELTKRIEGSIMULATOR" class="wks-link" target="_blank">Font "Astral Delight" by imagex</a>
        </li>
    </ul>
</section>
<footer class="wks-footer">
    <section class="wks-menu">
        <button class="wks-button wks-menu__play-button">Play</button>
        <button class="wks-button wks-menu__home-button">Home</button>
    </section>
</footer>
