<header class="wks-header">
    <h1 class="wks-title">About / Credits</h1>
</header>
<section class="wks-text">
    <p>
        This game was created by igorski.nl to show off the mobile web gaming capabilities
        of the open source <a href="https://github.com/igorski/zcanvas" class="wks-link" target="_blank">zCanvas library</a>.
        The game itself is completely <a href="https://github.com/igorski/weltkriegsimulator" class="wks-link" target="_blank">open source</a> as well.
    </p>
    <p>
        The music is by the respective artists (shown on playback start). Graphics for the game sprites as
        well as sound effects come from <i>opengameart.org</i> and features entries by:
    </p>
    <ul class="wks-list">
        {{#each resources}}
        <li>
            <a href="{{href}}" class="wks-link" target="_blank">{{name}}</a>
        </li>
        {{/each}}
    </ul>
</section>
<footer class="wks-footer">
    <section class="wks-menu">
        <button class="wks-button wks-menu__play-button">Play</button>
        <button class="wks-button wks-menu__home-button">Home</button>
    </section>
</footer>
