<header class="wks-header">
    <h1 class="wks-title">Game over</h1>
</header>
<section class="wks-text">
    {{#if highScore}}
        <p>
            You perished bravely in battle... AND got a new high score ({{score}} points)!
        </p>
        <input type="text" id="nameInput" pattern=".{3,}" required placeholder="Enter your name..." />
        <input type="submit" id="saveHighScore" value="OK" />
    {{else}}
        <p>
            You gave it your best. Alas, they gave it their best...er.
        </p>
    {{/if}}
</section>
<footer class="wks-footer">
    <section class="wks-menu">
        <button class="wks-button wks-menu__play-button">Play</button>
        <button class="wks-button wks-menu__home-button">Home</button>
    </section>
</footer>
