<div class="wks-ui-score">
    <div class="wks-ui-score__counter">0</div>
    <div class="wks-ui-score__unit">PTS.</div>
</div>
<div class="wks-ui-energy"></div>
<div class="wks-ui-messages">
    <h1 class="wks-ui-messages__title"></h1>
    <p class="wks-ui-messages__text"></p>
</div>
{{#if controls}}
    <div id="wks-ui-dpad"></div>
    <div id="wks-ui-buttons">
        <button id="wks-ui-buttons__layer"></button>
        <button id="wks-ui-buttons__fire"></button>
    </div>
{{/if}}
