<div class="wks-ui-score">
    <div class="wks-ui-score__counter">0</div>
    <div class="wks-ui-score__unit">pts.</div>
</div>
<div class="wks-ui-energy"></div>
<div class="wks-ui-messages">
    <h1 class="wks-ui-messages__title wks-title"></h1>
    <p class="wks-ui-messages__text"></p>
</div>
{{#if controls}}
    <div class="wks-ui-dpad">
        <div class="wks-ui-dpad__position"></div>
    </div>
    <div class="wks-ui-buttons">
        <button class="wks-ui-buttons__layer"></button>
        <button class="wks-ui-buttons__fire"></button>
    </div>
{{/if}}
