<header class="wks-header">
    <h1 class="wks-title">High scores</h1>
</header>
<section class="wks-text">
    <table class="wks-highscore-table">
        <tbody>
        {{#each scores}}
            <tr>
                <td class="wks-highscore-table__index">{{add @index 1}}</td>
                <td class="wks-highscore-table__name">{{name}}</td>
                <td class="wks-highscore-table__score">{{score}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</section>
<footer class="wks-footer">
    <section class="wks-menu">
        <button class="wks-button wks-menu__play-button">Play</button>
        <button class="wks-button wks-menu__home-button">Home</button>
    </section>
</footer>
