<div id="energy"></div>
<div id="score">
    <div class="counter">0</div>
    <div class="unit">PTS.</div>
</div>
<div id="messages">
    <h1 class="title"></h1>
    <p class="body"></p>
</div>
{{#if controls}}
    <div id="dPad"></div>
    <div id="actionButtons">
        <button id="btnLayer"></button>
        <button id="btnFire"></button>
    </div>
{{/if}}
