<header>
    <h1>About / Credits</h1>
</header>
<section id="text">
    <p>
        This game was created by igorski.nl to show off the mobile web gaming capabilities
        of the open source <a href="https://github.com/igorski/zcanvas" target="_blank">zCanvas library</a>.
        The game itself is completely <a href="https://github.com/igorski/weltkriegsimulator" target="_blank">open source</a> as well.
    </p>
    <p>
        The music is by the respective artists (shown on playback start). Graphics for the game sprites as
        well as sound effects come from <i>opengameart.org</i> and feature entries by:
    </p>
    <ul>
        <li>
            <a href="http://opengameart.org/content/explosion" target="_blank">Explosion by Cuzco</a>
        </li>
        <li>
            <a href="http://opengameart.org/content/space-ship-building-bits-volume-1" target="_blank">Ship by Redshrike</a>
        </li>
        <li>
            <a href="https://opengameart.org/content/explosion-0" target="_blank">Explosion by TinyWorlds</a>
        </li>
        <li>
            <a href="https://opengameart.org/content/laser-fire" target="_blank">Laser Fire by dklon</a>
        </li>
        <li>
            <a href="https://opengameart.org/content/some-hud-elements-icons-and-crosshairs" target="_blank">Some Hud Elements, Icons and Crosshairs by sbed</a>
        </li>
    </ul>
</section>
<footer>
    <section id="menu">
        <button id="btnPlay">Play</button>
        <button id="btnHome">Home</button>
    </section>
</footer>
