<header>
    <h1>How to play</h1>
</header>
<section id="text">
    <p>
        This is not a game. This is full-on onslaught on several levels!
        Namely, the <i>upper</i> and the <i>lower</i> level. Action happens on different
        vertical planes. As such, apart from steering your ship and shooting at your enemies, you
        will also need to keep an eye on whether you need to dive or rise during battle. The lower
        plane will colour the sky red, the higher plane blue JUST TO MESS YOU UP!!
    </p>
    <p>
        <strong>Keyboard controls:</strong> use either WASD or arrow keys to steer, spacebar to shoot and Z
        to dive/rise into a different plane.
    </p>
    <p>
        <strong>Touchscreen controls:</strong> steer by using the D-Pad on the lower left of the screen, hit the
        A button to shoot and the B button to dive/rise.
    </p>
</section>
<footer>
    <section id="menu">
        <button id="btnPlay">Play</button>
        <button id="btnHome">Home</button>
    </section>
</footer>
