<header>
    <h1>Weltkriegsimulator</h1>
</header>
<section id="menu">
    <button id="btnStart">Start game</button>
    <button id="btnHighScores">High scores</button>
    <button id="btnHowToPlay">How to play</button>
    <button id="btnAbout">About / Credits</button>
</section>
<footer>
    <p>WKS created by <a href="https://www.igorski.nl" target="_blank">igorski.nl</a> (c) 2017</p>
</footer>