<div id="energy"></div>
<div id="messages">
    <h1 class="title"></h1>
    <p class="body"></p>
</div>
{{#if controls}}
    <div id="dPad"></div>
    <div id="actionButtons">
        <div id="btnLayer">(L)</div>
        <div id="btnFire">(!)</div>
    </div>
{{/if}}
