<header>
    <h1>High scores</h1>
</header>
<section id="text">
    <ol>
    {{#each scores}}
        <li>{{name}} - {{score}}</li>
    {{/each}}
    </ol>
</section>
<footer>
    <section id="menu">
        <button id="btnBack">Back</button>
    </section>
</footer>