<header class="wks-header">
    <h1 class="wks-title">Weltkriegsimulator</h1>
</header>
<section class="wks-button-list">
    <button id="btnStart" class="wks-button">Start game</button>
    <button id="btnHighScores" class="wks-button">High scores</button>
    <button id="btnHowToPlay" class="wks-button">How to play</button>
    <button id="btnAbout" class="wks-button">About / Credits</button>
</section>
<footer class="wks-footer">
    <p>WKS created by <a href="https://www.igorski.nl" class="wks-link" target="_blank">igorski.nl</a> &copy; 2017</p>
</footer>
