.wks-header {
    width: 100%;
    text-align: center;
    color: #FFF;
}

.wks-menu {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: $spacing-medium;
    @include boxSize();
}

.wks-button {
    width: 50%;
    display: block;
    padding: $spacing-medium;
    margin: $spacing-small auto;
    cursor: pointer;
    background-color: $color-2;
    border: none;
    border-radius: 13px;
    color: #FFF;
    @include boxSize();

    &:hover {
        background-color: $color-5;
        color: $color-2;
    }
}

.wks-button-list {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: $spacing-medium + $spacing-small;
    @include boxSize();

    @include mobile() {
        .wks-button {
            width: 100%;
        }
    }
}

.wks-text {
    @include boxSize();
    padding: 0 $spacing-medium;
    width: 50%;
    overflow-y: auto;
    margin: 0 auto;
    border-radius: 13px;
    background-color: $color-2;
    color: $color-1;

    @include large() {
        max-width: 475px;
        height: 75%;
        padding: $spacing-small $spacing-large;
    }

    @include mobile() {
        width: 100%;
        height: 85%;
    }

    button {
        width: 50%;
        display: block;
        padding: $spacing-large;
        margin: $spacing-small auto;
        cursor: pointer;
    }

    input {
        &.error {
          border: 1px solid red;
        }
    }
}

.wks-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $spacing-medium $spacing-large;
    text-align: center;
    color: #FFF;
    @include boxSize();

    .wks-menu button {
        display: inline;
        width: 33%;

        @include mobile() {
            width: 49%;
        }
    }
}

.wks-bar {
    background-color: $color-2;
    padding: $spacing-small $spacing-medium;
}

.wks-input {
    @include boxSize();
    padding: $spacing-medium;
    background-color: #FFF;
    border-radius: 14px;
    border: none;
    margin-bottom: $spacing-medium;
}

.wks-submit {
    font-family: "Baloo 2", Helvetica, Arial, sans-serif;
    cursor: pointer;
    padding: $spacing-medium;
    background-color: $color-1;
    color: #FFF;
    border-radius: 14px;
    border: none;
    text-transform: uppercase;
}

.wks-input,
.wks-submit {
    width: 100%;
    display: block;
}

.wks-highscore-table {
    width: 100%;
    font-weight: bold;
    padding: $spacing-large;
    @include boxSize();

    @include mobile() {
        padding: $spacing-medium 0;
    }

    &__index {
        width: 10%;
    }
    &__name {
        width: 65%;
    }
    &__score {
        width: 25%;
        text-align: right;
    }
}
