@font-face {
    font-family: 'astral_delight_upright';
    src: url('../fonts/astral_delight_upright.woff2') format('woff2'),
         url('../fonts/astral_delight_upright.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wks-container {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.wks-title,
.wks-button {
    font-family: astral_delight_upright;
    text-transform: uppercase;
}

.wks-button {
    font-size: 100%;
}

.wks-link {
    color :#b6b6b6;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

/* mobile view */

@include mobile() {
    .wks-title {
        font-size: 125%;
    }
}
