@import url( "https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" );
@import url( "https://fonts.googleapis.com/css2?family=Faster+One&display=swap" );
@import url( "https://fonts.googleapis.com/css2?family=Squada+One&display=swap" );

@mixin customFont() {
    font-family: "Faster One";
}

.wks-container {
    font-family: "Baloo 2", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.wks-title {
    @include customFont();
    color: #FFF;
    text-transform: uppercase;
    margin: 0;

    &--main {
        color: $color-2;
        font-size: 300%;
    }
}

.wks-button {
    font-family: "Squada One";
    text-transform: uppercase;
}

.wks-button {
    font-size: 100%;
}

.wks-link {
    color: $color-4;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

/* mobile view */

@include mobile() {
    .wks-title {
        font-size: 125%;
    }
}
