#energy {
  position: absolute;
  top: 1em;
  left: 1em;
  height: 8px;
  width: 100px;
  background-color: greenyellow;
  transition: width 200ms ease-in-out;
}

#score {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #FFF;
  font-weight: bold;
  font-style: italic;
}

/* touch screen controls */

@dpadRadius: 90px;
@margin: ( @dpadRadius / 2 );

#dPad {
  position: absolute;
  left: @margin;
  bottom: @margin;
  width: @dpadRadius;
  height: @dpadRadius;
  background-color: #000;
  border: 3px solid #666;
  border-radius: 50%;
}

#actionButtons {
  position: absolute;
  bottom: @margin;
  right: ( @margin / 2 );

  button {
    display: inline;
    position: relative;
    width: 55px;
    height: 55px;
    border: 3px solid #b6b6b6;
    border-radius: 50%;
    background-color: #000;
    color: #FFF;
  }
}

#btnFire {
  bottom: ( @margin / 2 );
}
