/* game UI */

#energy {
  position: absolute;
  top: 1em;
  left: 1em;
  height: 8px;
  width: 100px;
  background-color: greenyellow;
  transition: width 200ms ease-in-out;
}

#score {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #FFF;
  font-weight: bold;
  font-style: italic;
}

/* touch screen controls */

@dpadRadius: 90px;
@margin: ( @dpadRadius / 2 );

#dPad {
  position: absolute;
  left: @margin;
  bottom: @margin;
  width: @dpadRadius;
  height: @dpadRadius;
  background: transparent url(../images/graphics/dpad.png) no-repeat 50%;
  background-size: 100%;
  .noSelect;
}

#actionButtons {
  position: absolute;
  bottom: @margin;
  right: ( @margin / 2 );

  button {
    display: inline;
    position: relative;
    width: 55px;
    height: 55px;
    background-size: 100%;
    border: none;
    color: #FFF;
    .noSelect;
  }
}

#btnFire {
  bottom: ( @margin / 2 );
  background: transparent url(../images/graphics/btnB.png) no-repeat 50%;
}

#btnLayer {
  background: transparent url(../images/graphics/btnA.png) no-repeat 50%;
}

/* mobile view */

@media screen and ( max-width: @mobile-width )
{
  #dPad {
    left: ( @margin / 3 );
  }
  #actionButtons {
    right: ( @margin / 4 );
  }
}
