@use "sass:math";

/* game UI */

.wks-ui-score {
    position: absolute;
    top: 0;
    right: $spacing-medium;
    color: #FFF;
    @include customFont();
    font-size: 150%;

    div {
        display: inline;

        &.unit {
            font-size: 75%;
        }
    }
}

.wks-ui-energy {
    position: absolute;
    top: 36px;
    right: $spacing-medium;
    height: 8px;
    width: 100px;
    background-color: red;

    &__bar {
        height: 8px;
        background-color: greenyellow;
        transition: width 200ms ease-in-out;
    }
}

.wks-ui-messages {
    position: absolute;
    top: 0;
    left: $spacing-medium;
    color: #FFF;

    h1 {
        margin-top: 0;
        padding-top: 0;
    }
}

.wks-ui-instructions {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFF;
    @include customFont();
    text-transform: uppercase;
    @include noSelect();
    @include noEvents();
}

.wks-list {
    @include boxSize();
    padding: 0 0 $spacing-medium;
    list-style-type: none;
    margin: 0;
}

/* touch screen controls */

$dpadRadius: 132px;
$margin: math.div( $dpadRadius, 2 );

.wks-ui-dpad {
    position: absolute;
    left: $margin;
    bottom: 16px;
    width: $dpadRadius;
    height: $dpadRadius;
    background: transparent url("../images/graphics/dpad.png") no-repeat 50%;
    background-size: 100%;
    @include noSelect();

    @include mobile() {
        left: math.div( $margin, 3 );
    }

    &__position {
        @include noEvents();
        display: none;
        position: absolute;
        width: $spacing-large;
        height: $spacing-large;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        border-radius: 50%;

        &.left {
            left: 5%;
        }
        &.right {
            left: 95%;
        }
        &.top {
            top: 5%;
        }
        &.bottom {
            top: 95%;
        }

        &.left, &.right, &.top, &.bottom {
            display: block;
        }
    }
}

.wks-ui-buttons {
    position: absolute;
    bottom: 16px;
    right: math.div( $margin, 2 );

    @include mobile() {
        right: math.div( $margin, 4 );
    }

    button {
        display: inline;
        position: relative;
        width: 55px;
        height: 55px;
        background-size: 100%;
        border: none;
        color: #FFF;
        @include noSelect();
    }

    &__fire {
        bottom: math.div( $margin, 2 );
        background: transparent url("../images/graphics/btnB.png") no-repeat 50%;
    }

    &__layer {
        background: transparent url("../images/graphics/btnA.png") no-repeat 50%;
    }
}
